<!DOCTYPE html>
<html>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="/Users/davidtruong/Desktop/Hack Reactor SE/hr-rpp36-mini-apps-1/challenge_2/client/index.html"></script>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <form method="POST" action="/" enctype="multipart/form-data">
      <input id= file type='file' name="data">
      <input className="submit" type="submit" value="Submit">
    </form>
    <br>
    <div<br>!{div}</div>
  </body>
</html>